<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta content="Paolo Mococci" name="author">
<title>root</title>
<link href="/css/default.css" media="all" rel="stylesheet">
</head>
<body>
	<h1>root</h1>
	<div id="hello"></div>
	<form th:action="@{/logout}" method="post">
		<fieldset>
			<legend>click for logout</legend>
			<input type="submit" value="log out"/>
		</fieldset>
	</form>
</body>
<script type="text/javascript" src="/lib/react-16.13.1/react.development.js"></script>
<script type="text/javascript" src="/lib/react-16.13.1/react-dom.development.js"></script>
<script type="text/javascript" src="/js/hello.js"></script>
</html>
